{% extends "layout.html" %}

{% block content %}

<section id="intro">

    <header>
        <img src="/logo.png" alt="logo">
    </header>

    <main>
        <p>It's not easy to stay at home for long periods of time.</p>
        <p>
            That's why we decided to catalog <strong> ideas, games, movies,
                books, courses, tips </strong> and everything that's needed for a better experience during
            social
            distancing.
        </p>
        <p>
            You can start by clicking in see ideas to browse over our suggestions and you can also contribute
            by adding your own idea!
        </p>
    </main>

    <section id="buttons">
        <button onclick="onOff()">+ Post Idea</button>
        <a href="/ideas" class="button">See Ideas</a>
    </section>

    <footer>With <i class="fa fa-heart"></i> <a href="https://rocketseat.com.br/" target="_blank">Rocketseat</a>
    </footer>
</section>

<section id="last-ideas">
    {% include "all_ideas.html" %}
</section>

{% endblock %}